/*Display Question Design*/

.bgDisplay{
    background-color: #50203A;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

#bg-question{
    background-color: rgba(16, 41, 46, 0.25);
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    color: #CCCCCC;
}

#question-title{
    font-family: Montesserat-Bold;
    font-size: 25px;
}

#question-time{
    margin-top: 1%;
    font-family: Montesserat;
    font-size: 10px;
}

#question-details{
    font-family: Montesserat-Medium;
    font-size: 15px;
}

.question-tags{
    font-family: Montesserat-Medium;
}

.question-tags ul{
    display: flex;
    flex-wrap: wrap;
    color: #CCCCCC;
    font-family: Montesserat-Medium;
    padding: 0px;
    margin: 0px;
}

.question-tags ul li{
    display: flex;
    list-style: none;
    background-color: rgba(20, 159, 152, 0.3);
    font-family: Montesserat-Medium;
    padding: 5px 8px 5px 10px;
    border: 1px solid #149F98;
    border-radius: 5px;
    margin: 4px 3px;
}