a {
    text-decoration: none;
    font-family: Arial;
    color: #CCCCCC;
}

.bg {
    background-image: linear-gradient(135deg, #50203A, #10292E);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
}

.profile {
    float: left;
    padding: 100px;
    margin: -100px -100px 0 -50px;
    font-family: Montesserat;
    color: #CCCCCC;
    text-align: center;
}

.img {
    border-radius: 50%;
}

.spacing {
    display: inline-block;
    margin-left: 300px;
}

.edit {
    background-color: inherit;
    border: 2px solid;
    border-radius: 10px;
    border-color: #CB2D6F;
    text-align: center;
    display: inline-block;
    font-family: Montesserat;
    color: #CCCCCC;
    font-size: 16px;
}

.edit:hover {
    background: #CB2D6F;
}

.edit:focus {
    background: #CB2D6F;
    box-shadow: none;
}

.tab {
    overflow: visible;
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 0 600px;
    width: 700px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 25px;
    font-family: Montesserat;
    color: #CCCCCC;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #CB2D6F;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #501F3A;
}

/* Style the tab content */
.tabcontent {
    display: none;
    justify-content: center;
    font-family: Montesserat;
    font-size: 25px;
    /*padding: 6px 12px;*/
    margin: 50px 0 0 600px;
    color: #CCCCCC;
}

.wrapper {
  margin-bottom: 40px;
  /*border: 1px solid lightblue;*/
  width: 100%;
}

ul {
  padding:0;
  margin:0;
  display: inline-block;
  flex-wrap: wrap;
}

li {
    border: none;
    color: #CCCCCC;
    flex:1;
    text-align:center;
    padding:10px 10px;
    cursor: pointer;
    background-color: rgba(16, 41, 46, 0.25);
}

li:hover {
  background-color: #14A098;
  color: white;
}
.form-control{
    border: none;
    border-bottom: 2px solid #CCCCCC;
    width: 275px;
    padding-left: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: transparent;
    font-family: Montesserat;
    font-size: 16px;
    color: #CB2D6F;
}
.form-control:focus {
  box-shadow: none;
  border-color: #14A098;
}

.form-control-about{
    border: none;
    border-bottom: 2px solid #CCCCCC;
    height: 50px;
    width: 275px;
    padding-left: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: transparent;
    font-family: Arial;
    font-size: 16px;
    color: #CCCCCC;
}
.profile-button {
    background: inherit;
    border-color: #CB2D6F;
    box-shadow: none;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Montesserat;
    color: #CCCCCC;
}

.profile-button:hover {
  background: #CB2D6F;
}

.profile-button:focus {
  background: #CB2D6F;
  box-shadow: none;
}

.center{
    text-align: center;
    align-items: center;
    position: relative;
    font-family: Montesserat;
    color: #CCCCCC;
}

input[type=text]{
    background-color: transparent;
    font-family: Montesserat;
    font-size: 15px;
    border-color: #149F98;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    color: #CCCCCC;
}

input[type=file] {
    background-color: transparent;
    font-family: Montesserat;

}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
    background-color: transparent;
    font-family: Montesserat;
    font-size: 15px;
    border-color: #149F98;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    color: #CCCCCC;}

#error{
    font-family: Brooklyn-Bold;
    font-size: 15px;
    color: #CCCCCC;
    text-align: center;
}

.scrollable-list {
    height: 585px; /* Adjust the height as needed */
    overflow-y: scroll;
    color: #149F98;
}
.scroll {
    height: 100%; /* Adjust the height as needed */
    overflow-y: scroll;
    color: #149F98;
}


#question-title{
    font-family: Montesserat-Bold;
    font-size: 25px;
}


#question-details{
    font-family: Montesserat-Medium;
    font-size: 15px;
}


.display-reply{
    border: 3px solid #149F98;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 3%;
    width: 95%;
}

.reply-info{
    margin-top: 0.5%;
    font-family: Montesserat;
    font-size: 10px;
}

.list-reply{
    font-family: Montesserat-Medium;
    font-size: 15px;
}