/*General Design Elements*/

.bg{
    background-image: url("../pics/bg_1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montesserat;
    color: #CCCCCC;
    background-color: #10292E;
    width: 100%;
}

.header-left{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    width: 300px;
}

.header-right{
    display: flex;
    justify-content: space-evenly;
    padding-right: 20px;
    width: 200px;
}

@font-face {
    font-family: Montesserat;
    src: url("../fonts/MontserratAlternates-ExtraBold.otf") format("opentype");
}