.body-gradient {
    background-image: linear-gradient(135deg, #50203A, #10292E);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.body-plain {
    background-color: #50203A;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.top-header {
    display:flex;
    position:sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    font-family: Montesserat-Bold;
    color: #CCCCCC;
    background-color: #10292E;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
}

#header-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    width: 300px;
}

#header-right {
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
    width: 200px;
}

#header-right img{
    cursor: pointer;
}

#home-link{
    cursor: pointer;
}

#profile-options{
    display: none;
    position: fixed;
    right: 6%;
    color: #50203A;
    background-color: #CCCCCC;
    padding: 0.5% 1% 0.5% 1%;
    border-radius: 5px;
    height: max-content;
    width: 150px;
}

#profile-options p{
    margin: 1% 0% 1% 0%;
    font-family: Brooklyn-Heavy;
    font-size: 20px;
    cursor: default;
}

#profile-options p:hover{
    color: #149F98;
    cursor: pointer;
}

#user-name{
    font-family: Montesserat-Bold;
}

.box input{
    font-family: Montesserat;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montesserat-Bold;
    color: #CCCCCC;
    background-color: #10292E;
    width: 100%;
    bottom: 0;
    height: 80px;
    margin-top: auto;
}

#footer-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30px;
    width: 300px;
    margin-bottom: 0;
}

#footer-right {
    font-size: x-small;
    font-family: Montesserat;
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
    width: 400px;
}

@font-face {
    font-family: Montesserat;
    src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
    font-family: Montesserat-Medium;
    src: url("../fonts/Montserrat-Medium.otf") format("opentype");
}

@font-face {
    font-family: Montesserat-Bold;
    src: url("../fonts/MontserratAlternates-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Bebas;
    src: url("../fonts/Bebas-Regular.otf") format("opentype");
}

@font-face {
    font-family: Brooklyn-Bold;
    src: url("../fonts/Brooklyn Bold 1.otf") format("opentype");
}

@font-face {
    font-family: Brooklyn-Heavy;
    src: url("../fonts/Brooklyn Heavy 1.otf") format("opentype");
}

@font-face {
    font-family: Brooklyn-Semibold;
    src: url("../fonts/Brooklyn SemiBold.otf") format("opentype");
}