/*Design for Sign Up page*/

.container {
  height: 100%;
}

#signup h1{
    color: #CCCCCC;
    font-family: Brooklyn-Heavy;
    text-align: center;
}

#signup-content{
    display: flex;
    flex-direction: column;
    color: #CCCCCC;
    font-family: Brooklyn-Semibold;
    justify-content: center;
    align-items: center;
}

input[type=password],
input[type=text] {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    margin-left: 8px;
    width: 275px;
    background-color: transparent;
    font-family: Brooklyn-Semibold;
    font-size: smaller;
    color: #CCCCCC;
}

.password-container{
    position: relative;
}

.fa-eye{
    position: absolute;
    right: 2%;
    cursor: pointer;
    color: #CCCCCC;
}

#create{
    padding: 5px 75px;
    border-radius: 50px;
    font-family: Brooklyn-Bold;
    background: #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

#login-option{
    font-family: Brooklyn-Bold;
    font-size: 15px;
    color: #CCCCCC;
}

#login{
    font-family: Brooklyn-Bold;
    color: #CCCCCC;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

#login:hover{
    color: #149F98;
}

